/**
 * Styles from Material Design Lite:
 * https://getmdl.io/components/index.html
 *
 * Icons from Material Icons:
 * https://google.github.io/material-design-icons/
 */
@charset "UTF-8";

/* ==========================================================================
   Colors
   ========================================================================== */

/* success */
.green {
    color: #4caf50 !important;
}

/* failure */
.red {
    color: #f44336 !important;
}

/* ==========================================================================
   Main styles and overrides
   ========================================================================== */

/* center input */
form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/* input takes full width of form */
.mdl-textfield {
    width: 100%;
}

/* styling for input, label, and result */
.mdl-textfield__input,
.mdl-textfield__label,
.npc-result {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 8vmin;
    letter-spacing: -.02em;
    line-height: 1;
    outline: none;
    text-align: center;
}

/* loader */
.mdl-spinner {
    width: 20px;
    height: 20px;
}

@media only screen and (min-width: 480px) {
    .mdl-spinner {
        width: 5vmin;
        height: 5vmin;
    }
}

/* styling for loader and result */
.mdl-spinner,
.npc-result {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
}

/* result text and icon */
#npc-result-text,
#npc-result-icon {
    color: #bbb;
    font-size: 6vmin;
    vertical-align: middle;
}

/* styling for GitHub ribbon */
#gh-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    opacity: 0.25;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#gh-ribbon:hover {
    opacity: 1;
}
